.headline {
  font-size: 3em;
  font-weight: 700px;
  text-align: center;
}

.byline {
  text-align: center;
  font-size: 1em;
}

.chapterhead {
  font-size: 2em;
  font-weight: 500px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.caption {
  margin-left: 40px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

.col-md-4 {
  padding-bottom: 25px;
}

.para2{
  margin-bottom: 30px;
}

/* top hat */
.nav-logo{
  color: #ffffff;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
}

.red {
  color: #f23030;
}

.bg-dark {
  background-color: #000 !important;
}

/* splash */
.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 20%;
  background: #000;
  opacity:.7;
}

.hero-head {
  padding-top: 10px;
  margin: 0 auto;
  font-size: 6em;
  font-family: 'Playfair Display', seif;
  padding-bottom: 10px;
  color: #ffffff;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-size: .25em;
}

/* pullout quote */
.quote {
  font-family: 'Montserrat', sans-serif;
  color: #f23030;
  font-size: 2.5em;
  font-weight: 700;
  text-align: left;
  padding: 15px, 0px, 15px, 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote-attribution {
  font-size: .5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 250;
  text-align: left;
  color: #000;
}

@media(max-width:550px) {
  p {
    padding-left:20px;
    padding-right:10px;
  }

  .chapter-head {
    font-size:1.25em;
  }

  .head {
    font-size:2em;
  }

  .hero-head {
    font-size: 2em;
  }

}

@media(max-width:750px) {
  .head {
    font-size:3em;
  }

  .hero-head {
    font-size: 2.5em;
  }

}
