.container {
width: 100%;
}

/*.headline {
  font-size: 3em;
  font-weight: 700px;
  text-align: center;
  color: #1d61d7;
  font-family: 'Times New Roman', serif;
}*/

/*.byline {
  text-align: center;
  font-size: 1em;
}*/

.chapterhead {
  /*font-size: 4em; */
  font-weight: 600px;
  color: #1d61d7;
  text-align: center;
  padding-top: 20px;
  font-family: 'Times New Roman', serif;
}

img {
padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.caption {
  margin-left: 40px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

.col-md-12 {
  margin-bottom: 15px;
  font-size: 3em;
}

p {
  font-family: 'Rubik', sans-serif;
}

.pullquote {
  color:  #ffffff;
  background-color: #CE1511;
  font-size: 3em;
  text-align: center;
  font-weight: 600;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
}

.attribution {
  color:  #ffffff;
  background-color: #CE1511;
  font-size: 1em;
  text-align: center;
  font-weight: 400;
}


/* splash */
.hero-container {
  position: relative;
  text-align: center;
  /*color: white; */
  font-family: 'Times New Roman', serif;
}

.hero-image {
  width: 100%;
  margin-bottom: 30px;
  padding-top: 0px;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 35%;
  background: white;
  opacity:.8;
}

.hero-head {
  padding-top: 10px;
  margin: 0 auto;
  font-size: 5em;
  font-family: 'Times New Roman', serif;
  padding-bottom: 10px;
  color: #1d61d7;
}

.hero-sub {
 padding-top: 10px;
  margin: 0 auto;
  color: #1d61d7;
  font-size: 2em;
  font-family: 'Times New Roman', serif;
}

iframe {
  padding-top: 20px;
  margin-bottom: 20px;
}

.caption {
  padding-bottom: 10px;
  font-size: 16px;
  font-family: 'Times New Roman', serif;
  /*padding-left: 25px;*/
  margin: 0 auto;
  width: 80%;
}

#reporters {
  font-style: italic;
}

/*@media(max-width: 320px) {
  .hero-head {
  font-size: 40px;
  }

  .hero-sub {
    font-size: 32px;
  }

}

@media(max-width: 376px) {
  .hero-head {
    font-size: 0.50em;
  }

  .hero-sub {
    font-size: 0.25em;
  }

  .overlay {
    top: 20%;
  }
}*/

@media(min-width: 480px) {
  .hero-head {
    font-size: 1em;
  }

  .hero-sub {
    font-size: 0.25em;
  }

  .overlay {
    top: 20%;
  }

  .pullquote {
    width: 100%:
  }
}

/*@media(max-width: 576px) {
  .hero-head {
  font-size: 1.25em;
  padding-top: 0px;
  }

  .hero-sub {
    font-size: 0.50em;
    padding-top: 0px;
  }

  iframe {
    width: 100%;
  }
}*/

@media(min-width: 600px) {
  .hero-head {
    font-size: 0.15em;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .hero-sub {
    font-size: 0.15em;
    padding-bottom: 0px;
  }

  .overlay {
    top: 15%;
    max-height: 400px;
  }

  .pullquote {
    width: 100%;
  }
}

@media(min-width: 768px) {
  .hero-head {
    font-size: 2.5em;
    padding-bottom: 0px;
  }

  .hero-sub {
    font-size: 1.25em;
  }

  .pullquote {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    margin: 0 auto;
  }

  .caption {
    margin: 0 auto;
    width: 90%;
  }
}

/*@media(max-width: 900px) {
  .pullquote {
    width: 100%;
  }
}*/

@media(min-width: 950px) {
  .hero-head {
    font-size: 3.25em;
    padding-bottom: 0px;
  }

  .hero-sub {
    font-size: 1.75em;
  }

}
