.container {
width: 100%;
}

/*.headline {
  font-size: 3em;
  font-weight: 700px;
  text-align: center;
  color: #1d61d7;
  font-family: 'Times New Roman', serif;
}*/

/*.byline {
  text-align: center;
  font-size: 1em;
}*/

.chapterhead {
  font-size: 4em;
  font-weight: 500;
  color: #1d61d7;
  text-align: center;
  padding-top: 20px;
  font-family: 'Times New Roman', serif;
}

img {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
}

.caption {
  font-family: 'Times New Roman', serif;
  font-size: 12px;
  margin-left: 80px;
  padding-left: 30px;
  padding-right: 100px;
  /*width: 80%;*/
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  width: 100%;
  border-top: solid;
  border-color: black;
}

/*.col-md-12 {
  margin-bottom: 15px;
}*/

p {
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
}

.pullquote {
  color:  #ffffff;
  background-color: #CE1511;
  font-size: 3em;
  text-align: center;
  font-weight: 600;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.attribution {
  color:  #ffffff;
  background-color: #CE1511;
  font-size: 1em;
  text-align: center;
  font-weight: 400;
}


/* splash */
.hero-container {
  position: relative;
  text-align: center;
  /*color: white; */
  font-family: 'Times New Roman', serif;
}

.hero-image {
  width: 100%;
  margin-bottom: 30px;
  padding-top: 0px;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 35%;
  background: white;
  opacity:.8;
}

.hero-head {
  padding-top: 10px;
  margin: 0 auto;
  font-size: 5em;
  font-family: 'Times New Roman', serif;
  padding-bottom: 10px;
  color: #1d61d7;
}

.hero-sub {
 padding-top: 10px;
  margin: 0 auto;
  color: #1d61d7;
  font-size: 3em;
  font-family: 'Times New Roman', serif;
}

iframe {
  margin-top: 20px;
  margin-bottom: 10px;
}

.caption {
  padding-bottom: 10px;
  font-size: 18px;
  font-family: 'Times New Roman', serif;
  /*padding-left: 100px;*/
  padding-right: 100px;
}

.col-md-6 {
  width: 100%;
}

#reporters {
  font-style: italic;
}


@media (max-width: 1024px) {
  .hero-head {
    font-size: 3.5em;
  }

  .hero-sub {
    font-size: 2em;
  }

  .caption {
    margin-left: 20px;
    margin-right: 0px;
  }

p {
  font-size: 18px;
}

  .pullquote {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
  }

}

@media(max-width: 768px) {
  .hero-head {
    font-size: 3em;
  }

  .hero-sub {
    font-size: 2em;
  }

  .caption {
    font-size: 13px;
  }

  .pullquote {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 2em;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
  }

  /*.col-md-12 {
    width: 100%;
  }*/

  .caption {
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media(max-width: 376px) {
  .hero-head {
    font-size: 1.7em;
  }

  .hero-sub {
    font-size: 1em;
  }

  .overlay {
    top: 25%;
  }

  .chapterhead {
    font-size: 3em;
    font-weight: 500;
  }

  .pullquote {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.5em;
  }

  .caption {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin: 0 auto;
    font-size: 12px;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
  }

  iframe {
    width: 100%;
  }

}

/*@media(max-width: 576px) {
  .hero-head {
  font-size: 1.25em;
  padding-top: 0px;
  }

  .hero-sub {
    font-size: 0.50em;
    padding-top: 0px;
  }

  iframe {
    width: 100%;
  }
}*/

/*@media(min-width: 600px) {
  .hero-head {
    font-size: 2em;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .hero-sub {
    font-size: 1.25em;
    padding-bottom: 0px;
  }

  .overlay {
    top: 15%;
    max-height: 400px;
  }

  .pullquote {
    margin: 0 auto;
    width: 100%;
  }
}*/




/*@media(max-width: 900px) {
  .pullquote {
    width: 100%;
  }
}

@media(min-width: 950px) {
  .hero-head {
    font-size: 3.25em;
    padding-bottom: 0px;
  }

  .hero-sub {
    font-size: 1.75em;
  }

}*/
