.container {
width: 100%;
}

/*.headline {
  font-size: 3em;
  font-weight: 700px;
  text-align: center;
  color: #1d61d7;
  font-family: 'Times New Roman', serif;
}*/

/*.byline {
  text-align: center;
  font-size: 1em;
}*/

.chapterhead {
  font-size: 4em;
  font-weight: 600px;
  color: #1d61d7;
  text-align: center;
  padding-top: 20px;
  font-family: 'Times New Roman', serif;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.caption {
  margin-left: 40px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

.col-md-4 {
  padding-bottom: 25px;
}

p {
  font-family: 'Rubik', sans-serif;
}

.pullquote {
  color:  #ffffff;
  background-color: #CE1511;
  font-size: 3em;
  text-align: center;
  font-weight: 600;
  margin-left: 200px;
  margin-right: 200px;
}

/* Navbar */

.nav-item {
  color:  #1d61d7;
}

.nav-item {
  color:  #1d61d7;
}

/* splash */
.hero-container {
  position: relative;
  text-align: center;
  /*color: white; */
  font-family: 'Times New Roman', serif;
}

.hero-image {
  width: 100%;
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 35%;
  background: white;
  opacity:.8;
}

.hero-head {
  padding-top: 10px;
  margin: 0 auto;
  font-size: 5em;
  font-family: 'Times New Roman', serif;
  padding-bottom: 10px;
  color: #1d61d7;
}

.hero-sub {
 padding-top: 10px;
  margin: 0 auto;
  color: #1d61d7;
  font-size: 2em;
  font-family: 'Times New Roman', serif;
}

iframe {
  padding-top: 20px;
  padding-bottom: 20px;
}
