/* Styles for my resume */

/* Styles the entire body of website */
#container {
  width: 110%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-right: 0px;
  font-size: 1em;
  font-weight: 400;
  margin-left: 0px;
  margin-right: 0px;
  /*background-color: #9E9E9E;*/
}

#pagetopper {
  width: 100%;
  max-height: 1000px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 30px;
  padding-right: 0px;
}

/*Styles text on photos
.topper {
  font-size: 3.5em;
  color: #7614AE;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}*/


/*Changed h1 tag a div tag with an id called name*/
/* Styles text on page topper */
  #name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #7614AE;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}


/* Styles contact list */
.menu {
  font-family: arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

/* Changes color to hyperlinks on contact list */
.contact {
  color: #FFFFFF;
}


/*Changed h2 tags to a div tag with a class called sectionheader */
/* Designs headers like experience, skills  */
.sectionheader {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #7614AE;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  min-width: 300px;
}

/* Changed h3 tags to a div tag with a class called jobtitle */
/* Styles job positions */
.jobtitle {
  font-size: 2em;
  font-weight: 600;
  font-family: arial, sans-serif;
  font-size: 24px;
}

/* Changed h4 tags to a div with a class called organization */
/* Organizations I work for */
.organization{
  font-size: 22px;
  font-weight: 400;
  font-family: arial, sans-serif;
}

/* Dates part of organization */
.date {
  font-weight: 400;
  font-size: 1em;
  font-family: arial, sans-serif;
  font-style: italic;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 0px;
}

/* Styles paragraphs */
.description {
  font-family: arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 0px;
}

/* Styles unordered list under Education header */
#degrees {
  font-family: arial, sans-serif;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Styles unordered list under Skills header */
#do {
  font-family: arial, sans-serif;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Styles education and skills lists */
li {
  font-size: 1em;
  font-family: arial, sans-serif;
}

/* Styles mission statement */
.top{
  font-family: arial, sans-serif;
  width: 80%;
  min-width: 300px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 30px;
}

.col-md-5 {
  background-color: #7614AE;
  width: 50%;
  text-align: center;
}

.col-md-2 {
  /*background-color: #AAEBCF;*/
  background-color: #FFFFFF;
}

img {
  width: 70%;
  margin-left: 100px;
  margin-right: 30px;
}

.navbar-brand {
  color: #7514AE;
}

footer {
  border-top: solid;
  border-color: #7614AE;
}
