.headline {
  font-size: 3em;
  font-weight: 700px;
  text-align: center;
}

.byline {
  text-align: center;
  font-size: 1em;
}

.chapterhead {
  font-size: 1.75em;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.caption {
  margin-left: 40px;
}
