/* Styles for my resume */
/* I changed the font, font size, color and font weight */
body {
  font-family: 'Open Sans', arial sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* Designs name */
h1 {
  font-size: 3.5em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
}

/* Changes title */
strong {
  font-size: 2em;
  text-transform: uppercase;
  color: #33485e;
}

/* Designs headers like experience, skills  */
h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
}

/* Styles job positions */
h3 {
  font-size: 2em;
  font-weight: 600;
}

/* Organizations I work for */
h4{
  font-size: 1.5;
  font-weight: 400;
}

/* Dates part of organization */
h5 {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}

/* Styles contact, education and skills lists */
li {
  font-size: 1.5em;
}
